/* Основная палитра */
/* Цвет основного текста #212121 */
/* Вторичный цевт текста #757575 */
/* Цвет логотипа #2196F3 */

/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона (серый) #2F303A */
/* вторичный цвет фона (иконки) #EEEEEE */
/* Цвет фона (наша команда) #F5F4FA */
/* Акцент #2196F3 (синний?) */

:root {
  /*Переменные цветовой гаммы шрифтов*/
  --main-text-color: #212121;
  --hero-text-color: #ffffff;
  --secondary-text-color: #757575;
  --logo-text-color: #2196f3;
  --hover-focus-color: #2196f3;
  /*Переменные цветовой гаммы фона*/
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --third-background-color: ;
  --accent-color: ;
}

body {
  font-family: 'Raleway',
  sans-serif;
  font-family: 'Roboto',
  sans-serif;
  background-color: white;
  color: var(--main-text-color);
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  color: var(--main-text-color);
  margin: 0px 0px 0px 0px;
}
body p{
  margin: 0px 0px 0px 0px;
  
}

button{
  padding: 0;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
address{
  padding: 0px;
  margin:0px
}
svg{
  margin: 0px;
}

/* site nav */

header {
  background: #ffffff;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
}

.logo{
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: inherit;
  width: 145px;
}
.logo{
  padding: 0px;
} 

.first-part-logo{
  color: var(--logo-text-color);
}
 .header-container .logo{
  margin: 25px 93px 25px 0px;

} 
/* nav a.logo{
  margin: 25px 93px 25px 0px;
} */
.logo{
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right:93px ;
}
.site-nav a,
.header-address a{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.site-nav a{color: var(--main-text-color)}
.header-address a{color: var(--secondary-text-color)}


nav{
  display: flex;
} 

.navigation .container{
  height: 80px;
  width: 1170px;
}

.site-nav{
  position: relative;

  width: 294px;
  padding: 0px;
  margin: 0px 327px 0px 0px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.nav-position{
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link{
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link:hover,
.nav-link:focus{
  color: var(--hover-focus-color);
}

  .active-page::after{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #2196F3;

}


.active-hover::after{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #2196F3;

  scale: 0;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-hover:hover::after,
.active-hover:focus::after {
  scale: 1;
} 


.header-email{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email:hover,
.header-email:focus {
  color:#2196f3;
}
.neader-number{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-number:hover,
.header-number:focus {
  color: #2196f3;
}

.header-address{
    width: 340px;}

 .header-address{
   padding: 0px;
  margin: 32px 0px 32px 0px;
  display: flex;
  justify-content: space-between;
}
.header-email{
  margin-right: 30px;
}
.header-letter{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-phone{
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill:currentColor;
}

/* studio //////////main///////// style  */
/* Hero */
main{
  border-top: 1px solid #ECECEC;
}
.hero {
  background-position: center;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/index-images/111.jpg);
  text-align: center;
  margin-bottom: 94px;
  background-repeat: no-repeat;
}
.hero-tittle {
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.4;
  color: var(--hero-text-color);
  padding-top: 198px;
  padding-bottom: 30px ;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hero-button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--hero-text-color);
  background-color: var(--hover-focus-color);
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 194px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
  background-color: rgba(33, 150, 243, 0.9);
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop .is-hidden .modal{
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.modal{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: rgba(255, 255, 255, 1);
}
.modal-close-button{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
}
.icon-modal-close{

  width: 11px;
  height: 11px;
  padding: 9px;
  color: #212121;
  
  fill:currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-close:hover,
.icon-modal-close:focus{
  cursor: pointer;
  color: #2196F3;
}
.is-hidden{
  pointer-events: none;
  opacity: 0;
}

/* feature */
.feature-one,
.feature-one-text {
  width: 270px;
}

.feature-tittle {
  opacity: 0;
 font-size: 0px;
  padding: 0px 0px;
  margin:0px;
}

.feature-one {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}
.feature-one-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}

.feature-section{
  margin-bottom: 94px;
}
ul.feature-list{
margin: 0px 0px 0px 0px;
width: 1200px;
padding: 0px 0px 0px 0px;
display: flex;
justify-content: space-between;
}
.feature-one-text{
  margin-top: 10px;
}
.feature-container{
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.feature-icon{
  width: 65px;
}

/* studio-section */
.doing-tittle,
.team-tittle,
.client-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.doing-tittle{
  margin-bottom: 50px;
}
.doing{
  margin-bottom: 94px;
}
.doing-list{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.doing-list-item{
  position: relative;
  display: block;
  width: 370px;
  height: 294px;
}

.doing-container{
  position: relative;
  
}

.doing-text-container{
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 70px;
  width: 370px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  transform: translateY(-100%)
}

.doing.container{
  margin-bottom: 94px;
}
/*our team*/ 
.our-team{
  background-color: #F5F4FA;
}
h2.team-tittle{
  padding: 90px 0px 0px 0px;
  margin-bottom: 50px;
}


.team{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-image{
  margin-bottom: 30px;
}
.team > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team > p {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.team-list{
  width: 1200px;
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
  margin-bottom: 94px;
}
.team-icon-list{
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 206px;
}
.team-link{
  color:#AFB1B8;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus{
  color: #ffffff;
  background-color: #2196F3;

  
}
.team-icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client-tittle{
  margin-top: 94px;
}
.client{
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-icon{
    width: 100px;
    height: 100px;
    padding-left:35px ;
    padding-right:35px ;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client:hover,
  .client:focus{
    border-color: #2196f3;
  }
 .client-icon:hover,
 .client-icon:focus{
   fill: #2196f3;
 }

.client-tittle {
  margin-bottom: 30px;
}
.client-list{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

/* Portfolio //////////main///////// style  */
main{
  background-color: white;
}

.position {
  font-family: 'Roboto';
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #F5F4FA; 
  cursor: pointer;
  border:none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.position:hover,
.position:focus {
  color: #ffffff;
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.position{
  margin: 94px 4px 36px 4px ;
}
.filter-list{
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.all {
  background-color: var(--main-background-color);
}
.all-link{
  position: relative;
  
}
 .all-link:hover .text-container,
 .all-link:focus .text-container{
  transform: translate(-100%);
 }

.all-img{
  position: relative;
  overflow: hidden;
}

.mac-img{
  margin-bottom: 0;
  padding-bottom: 0;
}

.text-container {
  position: absolute;
  transform: translate(-100%, 101%);

  display: inline-block;
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

}

.all-text{
  position: absolute;
  top: 23px;
  right: 64px;
  bottom: 23;
  left: 64px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.all-link > h3 {
 
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  
  letter-spacing: 0.06em; 
}
.all-link > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.all-link > p{
  margin-bottom: 20px;
}
.all-link > img{
  margin-bottom: 20px;
}
.all-link > h3 {
  margin-bottom: 4px;
}

.all-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ///////footer////// */
.footer {
  background-color: var(--secondary-background-color);
}
.footer .logo {
  color: #ffffff;
}
.footer .logo{
  margin-top: 60px;
}
.footer-adress{
  margin-top: 20px;
}
.contact{
  margin-top: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress:last-child{
  margin-bottom: 60px;
}
.footer{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}
.footer a{
  color: rgba(255, 255, 255, 0.6);
}
.footer p{
  color: #ffffff;
}
.contact:hover,
.contact:focus{
  color: var(--hover-focus-color);
  }
  .footer-adress{
    display: flex;
    flex-direction: column;
  }

.footer-container{
  margin-top: 60px;
  flex-direction: column;
}
.join-tittle{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}
.join-tittle{
  margin-bottom: 20px;
}
.footer-section{
  margin-top: 72px;
  margin-left: 70px;
}
.join-list{
  display: flex;
}
.join-one:not(:last-child) {
  margin-right: 10px;
}
a.join-link{
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus{
  background-color: #2196F3;
}

.join-icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
  }
 

 

